<footer class="footer-section bg-light py-5 mt-5">
  <div class="container">
    <div class="row row-cols-{{ section.settings.col_num }}">
      {% for block in section.blocks  %}
        {% assign item = block.settings %}
        {% if block.type == 'link_list' %}
          <div class="col">
            <h5>{{ item.title }}</h5>
            {% assign footer_link_list = item.menu %}
            <ul class="list-unstyled text-sm">
              {% for link in linklists[footer_link_list].links  %}
                <li>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% elsif block.type == "text" %}
            <div class="col">
              <img src="{{ item.logo | img_url }}" alt="{{ item.logo.alt }}" class="mb-5">
              <h5>{{ item.title }}</h5>
              <p>{{ item.description }}</p>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>

{{ 'bootstrap.min.js' | asset_url | script_tag }}
{{ 'application.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "range",
      "id": "col_num",
      "default": 3,
      "min": 2,
      "max": 4,
      "label": "Number of columns"
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Navigation",
      "type": "link_list",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Quick Links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "name": "Store Details",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Store Logo"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Store Information"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}